<h4>Discover new designers...</h4>

<!-- 

<div class="center">
  <div class="row">
    <% Listing.User.where("profileimage != ?", nil).order("random()").limit(6).each do |listing| %>
        <div class="col-md-3 col-sm-3 col-xs-6 images">
        <div class="thumbnail">
          <%= link_to image_tag(listing.user.profileimage.url(:profile), class: "img-responsive"), vendor_path(listing.user) %>
          <div class="caption">
            <h3><%= listing.user.name.downcase.titleize %></h3>
            <p><%= listing.user.profilestory %></p>
          </div>
        </div>
     </div>
    <% end %>
  </div>
</div> -->