<h4><b>Discover new designers & brands...</b></h4>

<div class="center">
  <div class="row">
    <% User.uniq.where("profileimage_file_name != ? AND profilestory != ?", "", "").
                joins(:listings).
                where('listings.updated_at >= ?', Date.current - 30.day).
                order("random()").limit(12).each do |user| %>
        <div class="col-md-2 col-sm-3 col-xs-6 images">
        <div class="thumbnail images">
          <%= link_to image_tag(user.profileimage.url(:profile), class: "img-responsive dthumbnail"), vendor_path(user) %>
          <div class="caption dcaption">
            <h3><%= user.name.downcase.titleize %></h3>
           <div class="dtext line-clamp"><%= user.profilestory %></div>
          </div>
          <%= link_to "View Collection", vendor_path(id: user.id), class: "btn btn-xs btn-primary dbutton" %><br>
        </div>
     </div>
    <% end %>
  </div>
</div>


