<div class="modal fade" id="profilemodal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content profilemodalcontent">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        
        <h4 class="modal-title">Seller profile</h4>
      </div><!-- end modal-header -->
      <div class="modal-body">
        <%= image_tag(@listing.user.profileimage.url(:profile)) %>
        <br><br><p><%= @listing.user.profilestory %></p> 
        
       </div><!-- end modal-body -->
    </div><!-- end modal-content -->
  </div><!-- end modal-dialog -->
</div><!-- end shipreturns --> 


