<div class="modal fade" id="shipreturns">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        
                        <h4 class="modal-title">Shipping and Returns.</h4>
                      </div><!-- end modal-header -->
                      <div class="modal-body">
                        <p><b>FREE Shipping: </b>All items on Outfit Additions ship free wihin the US.</p>

                        <p><b>No-Hassle Returns: </b>Please email us at <u>service@outfitadditions.com</u> within 30 days of the order being placed. Here's more information on our <%= link_to "easy returns process.", pages_returns_path %> </p>
                        
                       </div><!-- end modal-body -->
                    </div><!-- end modal-content -->
                  </div><!-- end modal-dialog -->
                </div><!-- end shipreturns --> 