<p>Thank you for confirming this shipment. Your customer has been sent a confirmation email. If you haven't already done so, please enter your tracking number and carrier name for your order in your sales page. </p>

<p><%= link_to "Go Back to Sales Page", sales_path, class: "btn btn-sm btn-primary" %></p>