<% provide(:title, 'Order Confirmation') %>
<h3>Thank you for your order.</h3>
An email confirmation has been sent to you with your order details. You will recieve an email in 1-2 business days when your item ships. You may visit your <a href="http://www.outfitadditions.com/purchases">purchases</a> page at any time to view your order details.
<b>Order Confirmation<b>
 <div class = "row">
	<div class = "col-md-4">
		<%= "Order ID: #{@order.id}" %><br>
		<%= "Item: #{@order.listing.name.downcase.titleize}" %><br>
		<%= "Price: #{number_to_currency @order.price_sold}" %><br>
		<%= image_tag(@order.listing.image.url(:medium))  %><br><br>
	</div>
 </div>
 <br>



<script>mixpanel.track("Order confirmation")</script>