<% provide(:title, 'About Us') %>
<h3>About us</h3>
<p>Welcome to Outfit Additions.</p>
<p>Hello everyone and thanks for visiting! Outfit Additions started off as a retail store. We used to buy from artisans and boutique designers and sell direct to consumers. But being a small business, we could only go so far in terms of keeping our stock replenished frequently, taking photgraphs, maanging the site and everything else that's needed to run an ecommerce store. </p>

<p>So we recently opened up our site to accept designers to sell directly like a marketplace. We manage the site and do the marketing - we work with bloggers, keep our site tuned for search engines, pitch to press and markeet on social channels. When there is an order, designers recieve customer shipping addresses and ship direct to the consumer.<p>

<p>Since we started out as a retail store, we have aleays been selective of the product we stocked. So even now, though we are a mmarketplace, we only allow selected designers and boutiques who design beautiful products at an affordable price point.<p>

<p>We hope you enjoy browsing and shopping our collection. If you have any questions or feedback, please reach out at service (at) outfitadditions.com.<p>

Sincerely,
Ash Moosa
Founder/CEO, Outfit Additions
