<% provide(:title, 'Blogger Partnerships') %>
<h3>Blogger Partnerships</h3>
<p>
Welcome, bloggers! We frequently partner with bloggers to run giveaways and do product reviews. Please click around and view our collection. If you think we'd be a good fit for your audience, please tell us more about your blog.
</p>
<p>
Please give us your rates and please also include some of your traffic numbers as well (monthly uniques and pageviews).
</p>
<p>
At this time, we are only working with US based bloggers. And preferably bloggers who have been blogging consistently for at least a year.
</p>
<p>
Send details to Ash at amoosa (at) outfitadditions.com
</p>