<% provide(:title, 'Contact Us') %>
<h3>Questions or Feedback?</h3>
<p>Please email us at service (at) outfitadditions.com. </p>

<ul>
	<li>Questions about shipping or returns?</li>
	<li>Questions about a product?</li>
	<li>Questions about how to sell with us or anything else about how our site works?</li>
</ul>

<p>Feel free to reach out at service (at) outfitadditions.com.. We try our best to respond within a day. </p>

