<p>
    <strong>Outfit Additions: CSV Product Import Instructions</strong>
</p>
<p>
    <em>Last updated: Sep 10, 2014</em>
</p>
<p>
    <em></em>
</p>
<p>
    If you have many products to list, our CSV import option makes it easy for you to start listing with us. Here are the details on how you should set up your
    file.
</p>
<p>
    A CSV file is a comma delimited file with a file extension of .csv – You can create an Excel file with the below columns and click “Save As” and select the
    CSV option to save it as a csv file.
</p>
<p>
    <strong>STEP 1:</strong>
    Create a CSV file with the following columns. Columns must be typed in exactly as shown below or your file won’t upload. Columns names are case sensitive.
</p>
<ul>
    <li>
        Product_title
    </li>
    <li>
        Description
    </li>
    <li>
        Designer_or_Brand
    </li>
    <li>
        Price
    </li>
    <li>
        SalePrice
    </li>
    <li>
        Category
    </li>
    <li>
        Quantity_in_stock
    </li>
    <li>
        Product_ID
    </li>
    <li>
        Image
    </li>
    <li>
        Image2
    </li>
    <li>
        Image3
    </li>
    <li>
        Image4
    </li>
</ul>
<p>
    <strong>STEP 2: </strong>
    Review the column details below and fill in product details.
</p>
<table border="1" cellspacing="0" cellpadding="0" width="684">
    <tbody>
        <tr>
            <td width="96" valign="top">
                <p>
                    <strong>Column Heading</strong>
                </p>
            </td>
            <td width="72" valign="top">
                <p>
                    <strong>Mandatory</strong>
                </p>
            </td>
            <td width="243" valign="top">
                <p>
                    <strong>Explanation</strong>
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    <strong>Conditions &amp; Format</strong>
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    <strong>Example</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="96" valign="top">
                <p>
                    Product_title
                </p>
            </td>
            <td width="72" valign="top">
                <p>
                    Yes
                </p>
            </td>
            <td width="243" valign="top">
                <p>
                    Your product name
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    Text. Max characters: 55
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    Red Bead Necklace
                </p>
            </td>
        </tr>
        <tr>
            <td width="96" valign="top">
                <p>
                    Description
                </p>
            </td>
            <td width="72" valign="top">
                <p>
                    Yes
                </p>
            </td>
            <td width="243" valign="top">
                <p>
                    Description about your product. Please give buyers information about the materials used, any special techniques used in making it, colors
                    and measurements. Optional: you may use four html tags for formatting. You can use &lt;b&gt;, &lt;ul&gt;, &lt;li&gt; and &lt;p&gt; tags.
                    Any other tags will be ignored. To add a blank line between two paragraphs and bulleted lists to your description, please see below.
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    Text. Max 2000 characters.
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    An assortment of beads, in different shades of red. Beads are mostly resin and some in metal. 22 inch length…
                </p>
                <p>
                    ………
                </p>
                <p>
                    ………
                </p>
                <p>
                    ………
                </p>
            </td>
        </tr>
        <tr>
            <td width="96" valign="top">
                <p>
                    Designer_or_Brand
                </p>
            </td>
            <td width="72" valign="top">
                <p>
                    Optional
                </p>
            </td>
            <td width="243" valign="top">
                <p>
                    If you’re a designer, please use your name. If you are a boutique selling a particular designers line, please use the designers name or if
                    you prefer, you can sell under your boutique name.
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    Text, Max 55 characters.
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    Amy Weston
                </p>
            </td>
        </tr>
        <tr>
            <td width="96" valign="top">
                <p>
                    Price
                </p>
            </td>
            <td width="72" valign="top">
                <p>
                    Yes
                </p>
            </td>
            <td width="243" valign="top">
                <p>
                    Regular price of your product
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    Numeric. No $ signs. Just enter the number.
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    29.95
                </p>
            </td>
        </tr>
        <tr>
            <td width="96" valign="top">
                <p>
                    SalePrice
                </p>
            </td>
            <td width="72" valign="top">
                <p>
                    Optional
                </p>
            </td>
            <td width="243" valign="top">
                <p>
                    If you enter a value here, your product will sell for the marked down price. On the site, we will strike out the price you entered in the
                    ‘price’ column and show the sale price. All sale items automatically show up in our sale category. If you leave this column blank, your
                    product will be priced at your regular price.
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    Numeric. No $ signs. Just enter a number, which is lower than your Price.
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    20
                </p>
            </td>
        </tr>
        <tr>
            <td width="96" valign="top">
                <p>
                    Category
                </p>
            </td>
            <td width="72" valign="top">
                <p>
                    Yes
                </p>
            </td>
            <td width="243" valign="top">
                <p>
                    Currently, we only accept the following categories: Necklaces, Bracelets, Earrings, Rings and Other. Please use only one of these for each
                    of your products.
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    Choose from allowed categories.
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    Necklaces
                </p>
            </td>
        </tr>
        <tr>
            <td width="96" valign="top">
                <p>
                    Quantity_in_stock
                </p>
            </td>
            <td width="72" valign="top">
                <p>
                    Yes
                </p>
            </td>
            <td width="243" valign="top">
                <p>
                    Number of pieces you have in stock that can ship within 1-2 business days.
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    Numeric
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    8
                </p>
            </td>
        </tr>
        <tr>
            <td width="96" valign="top">
                <p>
                    Product_ID
                </p>
            </td>
            <td width="72" valign="top">
                <p>
                    Yes
                </p>
            </td>
            <td width="243" valign="top">
                <p>
                    You can use any identifier you like. If you don’t have a formal ID that you use, please use a 1,2,3,… as your ID’s. This is important
                    because if you want to update your products, we use the ID to determine if you are adding a new product or updating an existing product.
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    Text and/or numeric
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    PN12890
                </p>
            </td>
        </tr>
        <tr>
            <td width="96" valign="top">
                <p>
                    Image
                </p>
            </td>
            <td width="72" valign="top">
                <p>
                    Yes
                </p>
            </td>
            <td width="243" valign="top">
                <p>
                    Images are loaded based on url’s. If you have images loaded on your ecommerce site, you can enter those image urls here. We automatically
                    download the image from your url and save it on our system. Or you can use a service like Dropbox to store your images and paste the link
                    in the csv file. <em>More details below.</em>
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    Full url. <em>More details below.</em>
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    https://www.dropbox.com/s/qoiwhudtfuyb8y3/oasb1_1.jpg?dl=0
                </p>
            </td>
        </tr>
        <tr>
            <td width="96" valign="top">
                <p>
                    Image2
                </p>
            </td>
            <td width="72" valign="top">
                <p>
                    Optional
                </p>
            </td>
            <td width="243" valign="top">
                <p>
                    As above.
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    As above.
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    As above.
                </p>
            </td>
        </tr>
        <tr>
            <td width="96" valign="top">
                <p>
                    Image3
                </p>
            </td>
            <td width="72" valign="top">
                <p>
                    Optional
                </p>
            </td>
            <td width="243" valign="top">
                <p>
                    As above.
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    As above.
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    As above.
                </p>
            </td>
        </tr>
        <tr>
            <td width="96" valign="top">
                <p>
                    Image4
                </p>
            </td>
            <td width="72" valign="top">
                <p>
                    Optional
                </p>
            </td>
            <td width="243" valign="top">
                <p>
                    As above.
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    As above.
                </p>
            </td>
            <td width="137" valign="top">
                <p>
                    As above.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p>
    <strong>STEP 3: </strong>
    Upload your file. Depending on the number of products and the size of your images, it may take a while. Please check your “Manage your listings” page in a
    few minutes to check status.
</p>
<p>
    <strong>TIP: </strong>
Before uploading a large number of items, test out your file by uploading 2-3 items. If those upload correctly, then upload the rest of your products.    <strong></strong>
</p>
<p>
    <strong>FIXING FILE ERRORS:</strong>
</p>
<p>
    When you refresh the page per the above process, If you see an error message, please follow the below instructions to figure out what went wrong.
</p>
<p>
    · Refresh the page to check if any of your listings loaded.
</p>
<p>
    · If none of your listings loaded, check if your file has the column names that are as specified above and check if you have all the required columns in
    the file.
</p>
<p>
    · If some of your listings have loaded, then it means that the next listing in the file did not load because of an error in that row. Look carefully at the
    next listing in your file and check if you meet all the <em>conditions &amp; formats</em> section in the table above in this document.
</p>
<p>
    After you make changes, you can upload your entire file again. Listings will not be duplicated so you can upload your full file again if you like.
</p>
<p>
    If you still cannot figure out why your file does not load, please send us your file to <u>service@outfitadditions.com</u>.
</p>
<p>
    <strong>UPDATING MULTIPLE PRODUCTS USING IMPORT:</strong>
</p>
<p>
    If you wish to update multiple listings, you can make your changes in a csv file in the same format as above, and upload your file. Please do not change
    the Product ID of your listing. Our system will check if the Product ID exists and if so, it will update your listings with the new information.
</p>
<p>
    For example, if you want to add a SalePrice to 50 products, you can download your existing listings via the Download link in the ‘Manage Listings’ page.
    Then add a SalePrice to the 50 items and upload the same file back up via the Import listings page. Depending on the number of listings, our system may
    take a few minutes to make the changes.
</p>
<p>
    You can test it by uploading a file with 2-3 products. If it uploads without error, you can upload the full file.
</p>
<p>
    <em>Note: If you need to change your product ID, then the only way is to delete your original listing and load it again with the new Product ID.</em>
</p>
<p>
    <strong>ADDITIONAL INFORMATION: IMAGES</strong>
</p>
<p>
    When you paste the URL into your browser, you should see <u>only</u> the product image. See examples below.
</p>
<p>
    If you have an ecommerce store or sell on other marketplaces, you can export your product file from your site admin. Your image URL’s should be available
    in that export. Here are some image URL examples.
</p>
<p>
    · If you use Shopify, you’d have image url’s like the below:
    <a href="http://cdn.shopify.com/s/files/1/0068/1062/products/TrixieNecklace1_large.jpg?v=1403105325">
        <em>http://cdn.shopify.com/s/files/1/0068/1062/products/TrixieNecklace1_large.jpg?v=1403105325</em>
    </a>
</p>
<ul>
    <li>
        If you use Big Commerce, you’d have url’s like:
        <a href="http://cdn1.bigcommerce.com/server1200/f8ce1/products/1064/images/1989/historic-necklace-2__99263.1405343108.400.400.jpg?c=2">
            <em>http://cdn1.bigcommerce.com/server1200/f8ce1/products/1064/images/1989/historic-necklace-2__99263.1405343108.400.400.jpg?c=2</em>
        </a>
        <em></em>
    </li>
    <li>
        If you sell on Etsy, you’d have url’s like:
        <a href="https://img0.etsystatic.com/014/0/6558506/il_570xN.456405658_dn47.jpg">
            <em>https://img0.etsystatic.com/014/0/6558506/il_570xN.456405658_dn47.jpg</em>
        </a>
    </li>
</ul>
<p>
    If you don’t have an ecommerce store where your images are hosted, you can open a free dropbox.com account and save your images there. Dropbox stores your
    files on the cloud and gives you a url for each image. Here is a quick overview on how you can get image url’s from dropbox.
</p>
<ul>
    <li>
        Open a free dropbox account at dropbox.com.
    </li>
</ul>
<p>
    · After installing, open the dropbox folder on your desktop. Copy your image files into your dropbox folder.
</p>
<p>
    · Right click on an image file and click on the “Share Dropbox Link” option. This will copy a link that you can paste into the CSV alongside your product.
    Do this for each product.
</p>
<p>
    <strong>OPTIONAL: Using HTML in your product descriptions:</strong>
</p>
<p>
    In your description field, we accept select html tags to help you format your descriptions. If you haven’t used html before, here is a quick overview of
    the html tags we accept - &lt;b&gt; &lt;p&gt; &lt;ul&gt; &lt;li&gt;
</p>
<p>
Bold tag: Any text between &lt;b&gt;….&lt;/b&gt; will be bolded. For example, &lt;b&gt;Measurements:&lt;/b&gt; will show up as    <strong>Measurements:</strong>
</p>
<p>
    Paragraph tag: Any text between &lt;p&gt;….&lt;/p&gt; will be in a separate paragraph. This will automatically insert a blank line above and below your
    text to make it a new paragraph.
</p>
<p>
    Bulleted lists: Here is an example. If you enter the below in your description column in the csv file….
</p>
<p>
    &lt;ul&gt;
</p>
<p>
    &lt;li&gt; this is the first bullet &lt;/li&gt;
</p>
<p>
    &lt;li&gt; this is the second bullet &lt;/li&gt;
</p>
<p>
    &lt;li&gt; this is the third bullet &lt;/li&gt;
</p>
<p>
    &lt;li&gt; this is the fourth bullet &lt;/li&gt;
</p>
<p>
    &lt;/ul&gt;
</p>
<p>
    Your output on the site will look like this…
</p>
<ul>
    <li>
        this is the first bullet
    </li>
    <li>
        this is the second bullet
    </li>
    <li>
        this is the third bullet
    </li>
    <li>
        this is the fourth bullet
    </li>
</ul>
<p>
    <em>An example of a full description:</em>
</p>
<p>
    &lt;p&gt;The colors of this necklace were inspired by the colors of Fall. Soft orange, beige and green beads strung together in a linen
    cord.&lt;/p&gt;&lt;ul&gt;&lt;li&gt; Measures 22 inches long. &lt;/li&gt;&lt;li&gt; Blue, green and orange beads. &lt;/li&gt;&lt;li&gt; Linen
    cord.&lt;/li&gt;&lt;li&gt; Handmade in California. &lt;/li&gt;&lt;/ul&gt;
</p>
<p>
    The output of the above will be:
</p>
<p>
    The colors of this necklace were inspired by the colors of Fall. Soft orange, beige and green beads strung together in a linen cord.
</p>
<ul type="disc">
    <li>
        Measures 22 inches long.
    </li>
    <li>
        Blue, green and orange beads.
    </li>
    <li>
        Linen cord.
    </li>
    <li>
        Handmade in California.
    </li>
</ul>
<p>
    <strong>QUESTIONS OR FEEDBACK? CONTACT US:</strong>
</p>
<p>
    If you have questions about this document, please email us at <u>service@outfitadditions.com</u> and we’ll help you figure it out.
</p>
<p>
    Thank you for listing with us!
</p>