<% provide(:title, 'Seller Questions & Feedback') %>
<h3>Questions or Feedback?</h3>
<p>Please email us at service (at) outfitadditions.com. </p>

<ul>
	<li>What new features would you like to see?</li>
	<li>Does something not work like you expected?</li>
	<li>Questions about how to upload listings?</li>
</ul>

<p>Feel free to reach out at service (at) outfitadditions.com.. We try our best to respond within a day. </p>