<% provide(:title, 'Privacy Policy') %>
<h3>Privacy Policy</h3>
<p>
Outfit Additions takes your privacy seriously.  Below is some detail on what information is collected and how it is used.  
</p>
<p>
In the below statement, “we” refers to Outfit Additions and “you” refers to the person browsing our site.
</p>
<p>
<b>Personal information is secure and never shared:</b> The personal information you provide when placing an order is collected under a secure encryption (GeoTrust) and is never rented or leased to anyone. Your name and address is solely used for billing and shipping purposes. You will not receive any marketing messages as a result of it. At times, we work with third parties to provide services such as shipping and mailing services. In such cases, the third party is required to maintain confidentiality of your information and is not allowed to share, rent or lease that information to anyone else.
</p>
<p>
Disclaimer: Outfit Additions may access and/or disclose your personal information if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on Outfit Additions or the site; (b) protect and defend the rights or property of Outfit Additions, including its Web site; or (c) act under exigent circumstances to protect the personal safety of users of Outfit Additions or the public.
</p>
<p>
<b>Click data:</b> We collect website click and navigational data. We use this to help improve our site design and to tailor our marketing to your needs.
</p>
<p>
<b>Contacting you:</b> If you opt in, we may send you promotional emails or contact you to collect survey responses about your opinion of current services or of potential new services that we may offer. You may stop the delivery of promotional e-mail by responding directly to any email you receive with a request to remove you from the mailing list.
</p>
<p>
<b>Security of your Personal Information:</b> We are committed to protecting the security of your personal information. We store the personal information you provide on computer systems with limited access, that are located in controlled facilities. When we transmit highly confidential information (such as a credit card number) over the Internet, we protect it through 128 bit encription through GeoTrust secure socket layer (SSL)
</p>
<p>
<b>Changes to this Statement:</b> We occasionally update this Statement of Privacy to reflect company and customer feedback. We encourage you to periodically review this Statement to be informed of how we continue to protecting your information.
</p>
</p>