<% provide(:title, 'Return Policy') %>
<h3>Easy, No Hassle Returns.</h3>
Returns are accepted within 30 days from the date the order was placed. Please email us at <b>service@outfitadditions.com</b> and we will send you the return address where you should ship the item back. Please note that since we are a marketplace where sellers ship items directly to you, each item may need to be shipped to a different return address.
<br><br>
<ul> 
<li>If the return is a result of the sellers’ error, we will send you a label for return shipping. If not, return shipping charges are not refunded.</li>
<li>Items must be returned in the condition it was received and sent back in a timely manner - ideally shipped back within 1-2 business days of the return being approved.</li>
<li>USPS First Class mail with tracking is the least expensive way to ship and gets delivered within 3-5 business days in most cases.</li>
<li>After you ship, please reply to the returns approval email with the tracking number of the return shipment. That’s how we keep track of when the seller received the item. This helps us process your refund quicker. </li>
<li>Once the return has been received, we will process the refund back to your card within 2 business days.</li>
</ul>
<br><br><br>