<% provide(:title, 'Sell Jewelry, Bags and Accessories Online') %>
<h3>Sell with Us.</h3>

<p>Join us and be part of our growing marketplace. </p>

<p>We work with designers and brands based on the originality of their design and quality of workmanship. As a result of our selection process, your work is more visible on our site and it provides a better shopping experience for our customers. </p>

<p><b>What do we look for? </b></p>

<p>
We look for four things when approving designers and brands to sell with us.</b>
<ul>
	<li>Original design. No knockoffs.</li>
	<li>Clear product images on a light background. White or light gray backgrounds are preferred. </li>
	<li>We are not exclusively a handmade marketplace. However, you or your company must be designing the collection. </li>
	<li>You must be able to ship out an order within 1-2 business days. </li>
</ul>
</p>

<p>
<b>How it works?</b>
<ul>
	<li>You will hear from us within 2-3 business days after you apply to sell with us.</li>
	<li>Once you're approved, we give you access to our marketplace where you can list your items, manage orders and tell your story. We have a csv import option so you don't have to enter your listings one by one. It's easy and quick to list with us.</li>
	<li>When your product sells, you get an email with the order and customer address. Once you ship, enter the tracking number and confirm your shipment.</li>
	<li>We charge a 20% commission on sales. This commission is taken after deducting 2.9%+30 cents for credit card processing (goes to the card processor, Stripe). For example, if an item sells for $50, after 2.9% + 30 cents, the balance is $48.25. 80% of that amount ($36.80) is transfered to your bank account.
	<li>We require all sellers to offer free US shipping and 30 day returns. Shipping & returns are important considerations for customers when shopping online and we feel this will increase your sales. Please price your products accordingly.</li>
</ul>
<font color="green"><b>Apply:</b></font> To tell us about your line, please email us at <b>partner[at]outfitadditions.com</b> with a short background on your brand and a url where we can see your line - either a link to your ecommerce store or a link to your items on another marketplace. If you are a designer, please tell us a bit about your background as well.
<br><br>
<%= link_to "Seller FAQ's", pages_sellerfaqs_path, class: "btn btn-primary" %><br><br>
<i>Please feel free to give us any feedback you may have on our site or our processes. </i>
<br><br>
