<% provide(:title, 'Sell Jewelry Online: Seller FAQ') %>
<h3>Seller FAQ's: Payments, Shipping, Returns & more.</h3>

<h5><font color="blue">How long are listings valid?</font></h5>
<p>Listings are valid for 30 days from your last update date. The reason we expire listings is because we want you to update your inventory levels every 30 days. If you update your listings, then the 30 day counter starts again. You can update your listings at any time during the 30 day period.</p>
<h5><font color="blue">Why do some listings show in my Manage Listings page but do not show up on your site?</font></h5>
<p>You probably did not update your iistings in the last 30 days. Our listings expire every 30 days. Please see answer to previous question.</p>
<h5><font color="blue">How do I apply to sell on Outfit Additions?</font></h5>
<p>To tell us about your line, please email us at <b>partner[at]outfitadditions.com</b> with a short background on your brand and a url where we can see your line - either a link to your ecommerce store or a link to your items on another marketplace. If you are a designer, please tell us a bit about your background as well. </p>
<h5><font color="blue">How and when do I get paid for product that I have shipped to the customer?</font></h5>
<p>When a customer orders your product, funds (after fees) are deposited into your bank account. Please enter your bank routing and account number in the payment settings page. Fund transfers are handled by Stripe, one of the leaders in the online payments industry. All transactions are performed over a 128-bit encrypted secure network.</p>
<h5><font color="blue">Can we set our own shipping prices?</font></h5>
<ul>
<li>We require all sellers to offer free US shipping. We find that free shipping helps get more orders and so we made that a requirement. </li>
<li>Orders must be shipped within 1-2 business days and should reach the customer within 7 business days of the order being placed. </li>
<li>After you ship the item, please go to your "Manage Listings" page and click on the carrier and tracking columns to enter your shipping details. Then click on the Shipping Confirmation button. Clicking on this button will automatically send an email to the customer confirming their shipment and tracking details.</li>
<li>You can ship via any reputable carrier but USPS First Class Mail is usually the least expensive. They deliver anywhere in the country (including Alaska and Hawaii) in typically than a week. </li>
</ul>
<h5><font color="blue">What happens if a customer wants to return an item?</font></h5>
<ul>
<li>We require all sellers to accept returns within 30 days of the order being placed. </li>
<li>If a customer emails us wanting to return an item within 30 days, we tell them to ship the item directly back to you. </li>
<li>Once you receive the item, we refund their payment. This refund will be taken out of the bank account where we deposited the payment to. All payments and refunds are 100% Secure and handled by Stripe (stripe.com), which is one of the top ecommerce payment systems. </li>
<li>Your fees will be refunded too. For example, if an item sells for $50 and after fees, $40 is deposited into your account, we only take out the $40. The remaining $10 is refunded back to the customer from the fees we deducted.</li>
<li>We take care of return shipping charges so you don’t have to. If the customer is returning an item as a result of your error, we send them a shipping label. That’s on us. We don’t charge you for that. If the return is a result of the customer changing their mind or not reading the product description, they pay for return shipping. Since buyers pay for return shipping, we expect returns to be infrequent. </li>
</ul>
<h5><font color="blue">How do I use the import feature to bulk load my products?</font></h5>
<p>link to csv doc. and maybe suggest they load 2-3 items and then the full file.</p>
<h5><font color="blue">Can I use the import feature to update products that were listed previously?</font></h5>
<p>Yes, if you want to make changes to multiple products, you can download your existing csv file from the Manage Listings page, make the changes in the csv file and import it back up from the Listing items page. Our system will check if the Product ID already exists and if so, your listing will be updated with the new details. So please make sure to use the same Product ID when updating your items. If you use a new product ID, the system will automatically create a new product with those details. link to csv doc.</p>
<h5><font color="blue">If we need help with using the import feature or any other part of your site, can you help?</font></h5>
<p>Of course, we can. If after repeated attempts, your csv file is not being accepted into our system, please email us your file at <u>service@outfitadditions.com</u> and we will help you figure it out.</p>
<h5><font color="blue">How do you market our products?</font></h5>
<p>We work with a variety of marketing channels including bloggers, paid search (google ads), facebook ads, and extensively optimize our site for search engines. We also send out emails to our email list featuring new designs and sales. </p> 
<h5><font color="blue">What are some photography guidelines sellers should pay attention to?</font></h5>
<p>Most of us shop online. And as customers, we want to see products clearly before ordering online. We prefer photographs to be on a white or light gray background. And if possible, please display your product on a model so custoemrs can get a better idea of size.</p> 
<h5><font color="blue">Can you give us guidelines and examples on how we can write out our brand profile?</font></h5>
<p>Customers like to know the story behind the design. Tell customers what inspired you to create the line. Is it based on a vertain theme. Are you using any special materials or techniques that differentiates you from other designers, then tell your cusotomers that. People like to buy things that are different, yet well made. ideally, keep it to 2-3 paragraphs. </p>
<h5><font color="blue">We've priced our items at a discounted price but when listing, we cannot select to be included in the Sale Category.</font></h5>
<p>If you enter a sale price when listing your item, those items automatically appear in the sale category as well as the original category that you selected.</p>
<h5><font color="blue">Can we offer coupons via Outfit Additions?</font></h5>
<p>We don't have coupon functionality but you can price your items at a sale price if you like and they will automatically appear in our sale category.</p>
<h5><font color="blue">If I am traveling or on vacation, can I deactivate my listings for the time I am away?</font></h5>
<p>To remove your listings from the site temporarily, go to your Manage Listings (link to this) page and click on the Download Listings (csv) button. This will save a csv file in your computer with all your listing details. THen click on the Delete All Listings button on the same page. This will delete all your listings from our site. When you're back from your travels, go to the List Items to Sell (link to this) page and import the csv file that you downlaoded earlier. In a few minues, all your listings will be imported and be back up on the site.</p>
<%= link_to "Back to Applicaton page", pages_sell_path %><br><br>
<b>Feedback?</b><i>Please feel free to give us any feedback you may have on our site or our processes. Email us at: service [at] outfitadditions.com</i>
<br><br>