<h3>Do you Design Jewelry? Manage a Boutique Brand?</h3>

<p>Apply to sell with us and be part of our growing marketplace. We are different from bigger marketplaces like Ebay, Etsy, Amazon in that we approve sellers based on the quality of their work. We don’t feature tens of thousands of designers. As a result of our selection process, your work is more visible on our site and it provides a better shopping experience for our customers. </p>

<b>What do we look for when approving designs?</b>
<p>
We look for four things when selecting designers.
<ul>
	<li>Original design: We don’t allow sellers to sell other designers merchandise. The designs need to be yours or your company’s.</li>
	<li>Photography: In order to provide a great shopping experience for our customers, we require photography to meet the below criteria.</li>
	<ul>
		<li>Must be on a light colored background – it doesn’t have to be white but light gray, beige, and other soft color backgrounds are accepted. We do not allow props. </li>
		<li>Products on a model are optional but encouraged as it gives the customer a better idea of size and/or length of the piece.</li>
		<li>On product-only pics (no model), the product must occupy 70-80% of the image. Images must be of a big enough size to show detail. We resize your images to be smaller to optimize for the web but we obviously cannot enlarge your images so please upload images that show your product details clearly. We accept up to 4 images per item. </li>
		<li>test</li>
	</ul>
	<li>Quality of workmanship: Based on the photographs, we looks for quality workmanship and materials. Products don’t need to be handmade. They can be imported. However, the design must be owned by you or your company.</li>
	<li>Price point: We focus on fashion jewelry. Most designers on our site sell at price points under $100. Higher is ok but our products are very rarely over $200. We do not accept designers selling precious stones, gold or other fine jewelry.</li>
</ul>
If you think your line will fit well within our marketplace, we would love to hear from you. Please apply via the below form.
</p>

<p>
<b>How it works?</b>

