<% provide(:title, 'Seller FAQ') %>
<h3>Seller FAQ's</h3>

<h4>Shipping:</h4>
<ul>
<li>We require all sellers to offer free US shipping. We find that free shipping helps get more orders and so we made that a requirement. </li>
<li>Orders must be shipped within 1-2 business days and should reach the customer within 7 business days of the order being placed. </li>
<li>After you ship the item, please go to your "Manage Listings" page and click on the carrier and tracking columns to enter your shipping details. Then click on the Shipping Confirmation button. Clicking on this button will automatically send an email to the customer confirming their shipment and tracking details.</li>
<li>You can ship via any reputable carrier but USPS First Class Mail is usually the least expensive. They deliver anywhere in the country (including Alaska and Hawaii) in typically than a week. </li>
</ul>
<h4>Returns:</h4>
<ul>
<li>We require all sellers to accept returns within 30 days of the order being placed. </li>
<li>If a customer emails us wanting to return an item within 30 days, we tell them to ship the item directly back to you. </li>
<li>Once you receive the item, we refund their payment. This refund will be taken out of the bank account where we deposited the payment to. All payments and refunds are 100% Secure and handled by Stripe (stripe.com), which is one of the top ecommerce payment systems. </li>
<li>Your fees will be refunded too. For example, if an item sells for $50 and after fees, $40 is deposited into your account, we only take out the $40. The remaining $10 is refunded back to the customer from the fees we deducted.</li>
<li>We take care of return shipping charges so you don’t have to. If the customer is returning an item as a result of your error, we send them a shipping label. That’s on us. We don’t charge you for that. If the return is a result of the customer changing their mind or not reading the product description, they pay for return shipping. Since buyers pay for return shipping, we expect returns to be infrequent. </li>
</ul>
<br><br>