<% provide(:title, 'Sell Jewelry, Bags and Accessories Online') %>
<h3>Sell with Us.</h3>

<p>Join us and be part of our growing marketplace. We work with select designers and boutiques brands. We are different from bigger marketplaces like Ebay, Etsy, Amazon in that we work with sellers based on the their design aesthetic and quality of workmanship. We don’t feature tens of thousands of designers. As a result of our selection process, your work is more visible on our site and it provides a better shopping experience for our customers. </p>

<p>
We look for three things when selecting designers.
<ul>
	<li>Original design. No knockoffs.</li>
	<li>Clear product images on a light background. </li>
	<li>We welcome designers who handmake their line. But we are not exclusively a handmade marketplace. We focus on design and quality of workmanship.</li>
</ul>
</p>

<p>
<b>How it works?</b>
<ul>
	<li>Once you're approved, we give you access to our marketplace where you can list your items, manage orders and tell your story. We have a csv import option so you don't have to enter your listings one by one. It's easy and quick to list with us.</li>
	<li>When your product sells, you get an email with the order and customer address. Once you ship, enter the tracking number and confirm your shipment.</li>
	<li>Fees: We charge a 20% commission on sales. This commission is taken after deducting 2.9%+30 cents for credit card processing (goes to the card processor, Stripe). For example, if an item sells for $50, after 2.9% + 30 cents, the balance is $48.25. 80% of that amount ($36.80) is transfered to your bank account and you should see it within 2-3 business days.
	<li>We require all sellers to offer free US shipping and 30 day returns so please price your products accordingly.</li>
</ul>
To tell us about your line, please email us at <b>partner[at]outfitadditions.com</b> with a short background on your brand and a url where we can see your line - either a link to your ecommerce store or a link to your items on another marketplace. If you are a designer, please tell us a bit about your background as well.
<br><br>
<%= link_to "Seller FAQ's", pages_sellerfaqs_path %><br><br>
<i>Please feel free to give us any feedback you may have on our site or our processes. </i>
<br><br>
