<% provide(:title, 'Sell Jewelry, Bags and Accessories Online') %>
<h3>Sell with Us.</h3>

<p>Join us and be part of our growing marketplace. </p>

<p><b>Easy to Apply: </b>Tell us a bit about your line at partner[at]outfitadditions.com - a short background on your designs/brand and a url where we can see your line or a sample of your line - either a link to your ecommerce store or a link to your items on another marketplace. We work with designers and brands based on the originality of their design and the quality of your photography. As a result of our selection process, your work is more visible on our site and it provides a better shopping experience for our customers. </p>

<p><b>Photography: </b>To provide a good customer experience, we require that product photos be clear and preferably on a solid background (doesn't need to be white). <!--If you need help with jewelry photography, please visit <a href="http://www.jewelryshoot.com">jewelryshoot.com</a> or a similar service. --></p>

<p>
<b>How it works?</b>
<ul>
	<li>After you apply, we get back to you in less than a week.</li>
	<li>Once you're approved, we set up your account and give you access to our marketplace where you can list your items, manage orders and tell your story. We have a csv import option so you don't have to enter your listings one by one. It's easy and quick to list.</li>
	<li>When your product sells, you get an email with the order and customer address. Once you ship, enter the tracking number and confirm your shipment.</li>
	<li>We charge a 20% commission on sales + standard credit card fees. For example, if an item sells for $50, about 3% goes to our secure payment provider <a href="http://www.stripe.com" target="_blank">Stripe</a> for processing fees, 20% to us and the rest is transfered directly to your bank account. 
	<li>We require all sellers to offer free US shipping and 30 day returns. Shipping & returns are important considerations for customers when shopping online and we feel this will increase your sales. Please price your products accordingly.</li>
	<li>To apply or if you have questions, please email us at partner[at]outfitadditions.com. </li>
</ul>
<br><br>
<%= link_to "Seller FAQ's", pages_sellerfaqs_path, class: "btn btn-primary" %><br><br>
<i>Please feel free to give us any feedback you may have on our site or our processes. </i>
<br><br>
