<h3>Apply to Sell on Our Platform!</h3>

<p>Do you make or design Jewelry? Or do you manage a boutique brand? Apply to sell with us and be part of our growing marketplace. We are different from bigger marketplaces like Ebay, Etsy, Amazon in that we work with sellers based on the their design aesthetic and quality of workmanship. We don’t feature tens of thousands of designers. As a result of our selection process, your work is more visible on our site and it provides a better shopping experience for our customers. </p>

<p>
We look for four things when selecting designers.
<ul>
	<li><b>Original design:</b> The designs need to be yours or your company’s. We don’t allow sellers to sell other designers merchandise. </li>
	<li><b>Photography:</b> In order to provide a great shopping experience for our customers, we require photography to meet the below criteria.</li>
	<ul>
		<li>The image must be clear enough to see the details of the product. </li>
		<li>Must be on a light colored background – it doesn’t have to be white but light gray, beige, and other soft color backgrounds are accepted. We do not allow props.</li>
		<li>Products worn by a model are encouraged as it gives the customer a better idea of size and/or length of the piece.</li>
		<li>On product-only shots, the product must occupy 50-80% of the image. Images must be of a big enough size to show detail. We resize your images to be smaller to optimize for the web but we cannot enlarge your images. Please upload images that are large enough to show your product details clearly. We accept up to 4 images per item. </li>
	</ul>
	<li><b>Quality of workmanship:</b> Based on the photographs, we look for quality workmanship and materials. Products don’t need to be handmade. They can be imported. However, the design must be owned by you or your company.</li>
	<li><b>Style:</b> We focus on fashion jewelry. We do not accept designers selling precious stones, gold or other fine jewelry.</li>
</ul>
If you think your line will fit well within our marketplace, we would love to hear from you. Please apply via the below form.
</p>

<p>
<b>How it works?</b>

