<h3>Apply to Sell on Our Platform!</h3>

<p>Apply to sell with us and be part of our growing marketplace. We work with select designers and boutiques brands. We are different from bigger marketplaces like Ebay, Etsy, Amazon in that we work with sellers based on the their design aesthetic and quality of workmanship. We don’t feature tens of thousands of designers. As a result of our selection process, your work is more visible on our site and it provides a better shopping experience for our customers. </p>

<p>
We look for three things when selecting designers.
<ul>
	<li>Original design. No knockoffs.</li>
	<li>Clear product images that show product details. </li>
	<li>Products don't need to be handmade. We focus on design and quality of workmanship.</li>
</ul>
</p>

<p>
<b>How it works?</b>
<ul>
	<li>Once you're approved, we give you access to our marketplace where you can list your items, manage orders and tell your story. We have a csv import option so you don't have to enter your listings one by one. It's easy and quick to list with us.</li>
	<li>When your product sells, you get an email with the order and customer address. Once you ship, enter the tracking number and confirm your shipment.</li>
	<li>Payment: After deducting 2.9%+30 cents for credit card processing (goes to the card processor, Stripe), We take a 20% commission on sales. We transfer 80% of the sale amount directly your bank account within 2-3 business days of the sale. For example, if an item sells for $50, after 2.9% + 30 cents, the balance is $48.25. 80% of that amount ($36.80) is transfered to your bank account.
	<li>We offer free shipping on all products in the marketplace. So if you need to add shipping costs to your prices, please do so. And we require sellers to offer 21 day returns. Unless the item is defective, the buyer will pay return shipping costs.</li>
</ul>
<h3><b><font color="green">Get in touch...</font></b></h3>
If you think your line will fit well within our marketplace, we would love to hear from you. Please email us at <b>partner[at]outfitadditions.com</b> with a short background on your brand and a url where we can see your line - either a link to your ecommerce store or a link to your items on another marketplace. If you are a designer, please tell us a bit about your background as well.
<br><br>
<i>If you have any feedback on our process, please email us at feedback[at]outfitadditions.com.</i>
<br><br>
