<% provide(:title, 'Terms & Conditions') %>
<h3>Terms & Conditions</h3>
<p>
<b>Copyright:</b> Unless otherwise specified, all materials appearing on our website, including the copy, site design, graphics, and images are the sole property of Outfit Additions © 2012, All rights reserved.You, the customer, agree that you are only authorized to use our site for your own personal use, and that you shall not duplicate, download, publish, modify or otherwise distribute the material on the site for any purpose unless otherwise specifically authorized by us to do so.
</p>
<p>
<b>Errors:</b> In the event a typographical error or error in pricing or product information, we shall have the right to refuse or cancel any orders placed for products listed at the incorrect price, even if you have received an order confirmation email from us. If your credit card has already been charged for the purchase and your order is canceled, we shall issue a credit to your credit card account in the amount charged.
</p>
<p>
<b>Color, Measurements & Availability:</b> Please note that the colors of items and products may depend on your monitor and may not be correctly displayed. Measurements are approximate and may vary slightly due to the handmade nature of many of our products. The availability of products and other items on the site may change at any time, without notice.
</p>
<p>
<b>Sales Tax:</b> We pay the sales tax for for orders shipping within California.
</p>
<p>
<b>Comments & Feedback:</b> We welcome all comments, feedback and other information that you submit to us via our website or email. Please note that feedback shall be considered non-confidential and become the property of Outfit Additions and we may use your feedback on promotional materials.  By submitting feedback to us, you agree to a no charge assignment to us of all copyrights and other intellectual property rights to use your feedback.
</p>
<p>
<b>Shipping to incorrect addresses:</b> We are not responsible for products delivered to wrong address as a result of your error or unsuccessful delivery by our mail carriers if you are not available at home. In the event of any issue, we will do everything we can to help you receive your order.
</p>
<p>
<b>Shipping promotions:</b> Free shipping offers are valid only on weekday deliveries to addresses within the 48 states.
</p>