@import "bootstrap";

.caption {
	h3 {
	font-size: 17px;
	margin: 2px;
	}

	p {
	font-size: 15px;
	margin: 0px;
	}
}

.jumbotron {
  /* background-image: url('https://dl.dropboxusercontent.com/s/odxszene0zw2j3q/belts640.jpg'); */
  h1, h2 {
    font-family: guardian-egyptt, georgia, serif;
  }
}