@import "bootstrap";

body { padding-top: 70px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
position: relative;
min-height: 1px;
padding-left: 5px;
padding-right: 5px;
}

footer {
  background: #eee;
  color: #333;
  font-size: 11px;
  padding: 10px;
}

ul.unstyled {
  list-style: none;
  padding: 0;
}

.jumbotron {
  /* background-image: url('https://dl.dropboxusercontent.com/s/odxszene0zw2j3q/belts640.jpg'); */
  h1, h2 {
    font-family: guardian-egyptt, georgia, serif;
  }
}

.center {
  text-align: center;
}


body {
  background-color: #ffffff;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

/* navbar background color */
.navbar-default {
  background-color: #ffffff;
}

.buyit {
   width: 50%;
}

.orderthumb {
border: 1px solid lightgray !important;
}

/* navbar logo format */
.navbar-default .navbar-brand {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #000000; 
  font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #0192B5;
}

.col-md-3:nth-child(4n+1) {
  clear: left;
}

.col-md-6 {
  h3 {font-size: 30px;}
}

/* note that id names begin with # and classes begin with . */

.dropdown-menu > li > a {
  text-align: left;
}

.caption {

  h3 {
  font-size: 15px;
  margin: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  }

  p {
  font-size: 13px;
  margin: 4px;
  }

}

@media (max-width: 480px) {
  .buyit { 
      width: 100%;
   }

     .search-form { 
      width: 80%;
   }

  }

  @media (max-width: 767px) {
     .search-form { 
      width: 80%;
   }

  }

  @media print {
  footer {
    display:none;
   }
  .pbtn {
    display:none;
   }

}


