@import "bootstrap";

.navbar-inverse {background: #000;}

.navbar-inverse .navbar-brand {
  color: #ffffff; 
  font-family: 'Roboto Slab', serif;
}

.navbar-inverse .navbar-nav > li > a {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
}

.navbar-inverse .navbar-toggle {
border: none;
}

.hpwell {
   font-family: 'Roboto Slab', serif;
  font-size: 24px;
  text-align:center;
  margin-top: -7px;
  margin-bottom: 5px;
  color: #333333; 
  background-color: #ffffff;
  border: none;
}

.glyphicon-user {font-size: 13px; padding-right:2px;}
.glyphicon-filter {font-size: 12px;}
.glyphicon-chevron-down {font-size: 12px;}


.images {
position: relative;
min-height: 1px;
padding-left: 3px;
padding-right: 3px;
}

.thumbnail {border: none;}

.shipconf {width: 100%;}
.salelink {margin-right: 8px;}

/* profile show page widget container */
.pthumbnail {                        
    height: 123px;
    border: 1px solid lightgray;
  }

/* profile thumb img on show page */
.pthumb {border: 1px solid lightgray; margin: 7px 7px 7px 7px;} 

/* profile text on show page */
.ptext {
    overflow: hidden;
    height: 76px;
    margin: 7px 7px 7px 7px;
    font-size: 13px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
}

.dthumbnail {border: 1px solid lightgray !important;}
.dtext {
    overflow: hidden;
    height: 63px;
    font-size: 11px;
    text-align: left;
}

.dcaption { border: none !important;}
.dbutton {position:relative; margin-top: -4px; margin-bottom: 2px;}


.size12 {font-size: 12px;}
.profilecontent {padding: 5px;}

.tracking {background: #e2e2e2; padding: 3px;}

footer {
  color: #333;
  font-size: 11px;
  padding: 10px;
  background: #eeeeee;
}

ul.unstyled {
  list-style: none;
  padding: 0;
}

.jumbotron {
  /* background-image: url('https://dl.dropboxusercontent.com/s/odxszene0zw2j3q/belts640.jpg'); */
}

.center {
  text-align: center;
}


body {
  background-color: #ffffff;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  padding-top: 70px; 


 }

.orderthumb {
border: 1px solid lightgray !important;
}


.col-md-3:nth-child(4n+1) .col-md-2:nth-child(6n+1) {
  clear: left;
}

.col-md-6 {
  h3 {font-size: 30px;}
}

/* note that id names begin with # and classes begin with . */

.caption {

  h3 {
  font-size: 13px;
  margin: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal !important;
  }

  p {
  font-size: 13px;
  margin: 4px;
  }

   border-bottom: 1px solid gray;

}

.btn-xl {
    padding: 12px 40px;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    font-weight: bold;
    background-color: #00BBBB;
    color: #fff;
}

.btn-xl:hover {
     background-color: #00CCCC;
  }

@media (max-width: 480px) {
  .btn-xl { 
      width:100%;
      padding: 9px 40px;
      font-size: 14px;
   }

     .search-form { 
      width: 80%;
   }

  }


  @media print {
  footer {
    display:none;
   }
  .pbtn {
    display:none;
   }

}



